.inactive{
  display: none !important;
}

.active{
  display: block !important;
}


.row-img{
  width: 100px !important;
}


#title-preview{
  font-size: 120% !important;
}

#contenido-preview{
  font-size: 100%;
}

 #date-preview{
  font-size: 80% !important;
}

#comment{
  width: 40% !important;
}

